doctype html
html(lang='ru')
  head
    //- meta(charset='UTF-8')
    //- meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0; user-scalable=0;')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Рентазавр
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/slider-pro.min.css')
    //- link(rel='stylesheet', href='css/animsition.min.css')
    link(href='css/nouislider.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:500,700&subset=latin,cyrillic,cyrillic-ext', rel='stylesheet', type='text/css')
    script(src='js/jquery-1.11.0.min.js')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
  body
    //- style.
    //-   .geo-ll,.geo-zoom{height: 0; opacity: 0}
    //- .geo-ll
    .close-layout
    .close-all
    div#choosecity.citys
      div.citys-list
      div.citys-form
        form#citys-form
          h3.citys-form__heading Нет вашего города?
          .form-groups
            input.citys-form__input(type='text', required='required', placeholder='Название города')
            .citys-form__tooltip
          .form-groups
            button.btn.btn-important.citys-form__submit(disabled="disabled") Добавить город
    div#isyourcity.tooltip-white
      div.tooltip-white__quastion= 'Ваш город '
        span.tooltip-white__quastion-cityname
        | ?
      div.tooltip-white__buttons
        button#mycity.btn.btn-important Да
        button#notmycity.btn Нет
    #wrapper.animsition
      if (ishome === 1)
        #map(style='width: 100%; height: 100%; position: fixed; background: #eee;')
      // Header
      header#header
        // Меню в самом верху
        article#head-top-line
          nav.top-line
            ul#head-top-menu
              li
                a.show-footer.href(href='#footer')= 'Контакты'
              //- li
              //-   a(href='#') Арендодателям
              //- li
              //-   a(href='#') Помощь
              li
                a(href='#')#city= ""
            -if (role)
              ul#head-log-in
                li
                  a(href="/my").btn.btn-danger.add-objava + Добавить объявление
                li.username
                  - if (role == "user")
                    a(href='/my')= username 
                    span= " | "
                      //- span.blue-text ЛИЧНЫЙ КАБИНЕТ
                      //- |  |  
                  - if (role == "admin")
                    a(href='/admin')= username 
                    span= " | "
                      //- span.blue-text >>ЛИЧНЫЙ КАБИНЕТ<<
                      //- |  |  
                  - if (role == "moder")
                    a(href='/moder')= username 
                    span= " | "
                      //- span.blue-text ЛИЧНЫЙ КАБИНЕТ
                      //- |  |  
                  //- + role
                li.username
                  //- button(type='button', data-toggle='modal', data-target='#end-visit', class='end-visit') Выйти
                  a(href="/logout",class='logout') Выйти
            -else
              ul#head-log-in
                li
                  div(type='button', data-toggle='modal', data-target='#header-login').btn.btn-danger.add-objava + Добавить объявление
                li
                  button(type='button', data-toggle='modal', data-target='#header-register') Регистрация
                li
                  button= " | "
                li
                  button(type='button', data-toggle='modal', data-target='#header-login') Войти
                // выйти - data-target='#end-visit'
        // Главное меню
        article#head-main-menu
          section.container
            div
              a.main-logo(href='/')
                //-  img.mainlogo(src="/images/Logo_01.png", alt="")
                .main-logo-img
                  img(src="/images/Logo_01.png", alt="")
                .main-logo-text
                  span.main-logo-text-name Рентазавр
                  br
                  span.main-logo-text-description Аренда без комиссии
            nav#main-menu
              ul
                li
                  a(href='/') Карта
                li
                  a(href='/objects') Объекты
                li
                  a(href='/bookmarks')
                    | Закладки
                    // Количестов закладок в меню (появляется с классом active)
                    span
            //
              Главное меню для мобилыli с классом active должен соответствовать страницам
            nav#mobile-menu
              a.show-menu(href='#')
                | Меню
                span
              ul.menu-items
                li.active
                  a(href='/') Карта
                li
                  a(href='/objects') Объекты
                li
                  a(href='/bookmarks')
                    | Закладки
                    // Количестов закладок в меню (появляется с классом active)
                    // span.active 6
                li
                  a.show-footer(href='#') Контакты
                li
                  a(href='#') Арендодателям
                li
                  button(type='button', data-toggle='modal', data-target='#header-login') Войти
      // main content
      main
        block content
        // footer
      footer#footer
        article
          #footer-info.container
            section
              h2 Аренда в иркутске
              p коммерческая недвижимость от собственников
              address
                h3 +7 950 105 33 33
                p Россия, г. Иркутск, ул. Чехова 19
                p arenda.38@yandex.ru
            section
              p.footer-help
                b Нужна помощь?
              a.footer-form-show(href='javasript: void(0);')
              .footer-form
                p
                  | Оставьте ваши контакты и мы поможем вам найти
                  br
                  | подходящее помещение.
                form#footer-form(action='/sendmail', method='POST')
                  .form-groups
                    input(type='tel', name='phone', required='required', placeholder='Введите телефон')
                    input(type='email', name='email' required='required', placeholder='Введите email')
                  textarea(name='message', placeholder='Какое помещение вы ищите?')
                  button.btn(type='submit') Отправить 
        article
          #footer-bottom.container
            section
              h3 Хотите разместить своё объявление на сайте?
              p Количество бесплатных мест ограничено!
              a(href='#', data-toggle='modal', data-target='#header-login') Зарегистрироваться
              hr
              .col-md-6
                a.conditions-show(href="#", data-toggle='modal', data-target='#conditions') Пользовательское соглашение
                | &nbsp;&nbsp;
                a.conditions-show(href="#", data-toggle='modal', data-target='#conditions') Политика конфиденциальности
                | &nbsp;&nbsp;
              .col-md-6.right-text
                span
                  | Сайт создан студией 
                  a(href="http://t-code.ru/") True.Code
                  | , Иркутск, 2017 &copy; Bсе права защищены            
      // modals
      // Окно входа в систему
      #header-login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            // Контент окна
            .modal-form
              .modal-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Войти
                p Вход в систему
              .modal-body
                form#login-form(name='login_form', action='/', method='POST')
                  .input-group
                    label
                      | Почта
                    input.form-control(type='email', required='', name='login_email', id='login_email')
                  .input-group
                    label
                      | Пароль
                    input.form-control(type='password', required='', name='login_pass', id='login_pass')
                  input.btn-submit(type='submit', value='Войти')
              .modal-footer
                //- span или
                //- .modal-social
                //-   a.vk(href='#')
                //-   a.fb(href='#')
                //-   a.ok(href='#')
                button.regnow(type='button', data-toggle='modal', data-target='#header-register') Регистрация
                hr
                a(href="/forgetpass") Забыли пароль?
            // Появляется при успешком заполнении формы
            .modal-thanks
              .modal-thanks-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Спасибо!
                p Заявка отправлена, вам было отправлено письмо для подтверждения регистрации
              .modal-thanks-recomended
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241 Офис № 241 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
      // Окно регистрации (Поля на твое усмотрение)
      #header-register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            // Контент окна
            .modal-form
              .modal-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Регистрация
                p Зарегистрируйтесь чтобы разместить объявление
              .modal-body
                form#login-register(name='login_register', action='/', method='POST')
                  .input-group
                    label
                      | Имя
                      input(type='text', required='', id='reg_firstname', name='reg_firstname', placeholder=' Имя из букв, не более 30 символов' )
                  .input-group
                    label
                      | Фамилия
                      input(type='text', required='', id='reg_lastname', name='reg_lastname', placeholder=' Фамилия из букв, не более 30 символов' )                  
                  .input-group
                    label
                      | Почта
                      input(type='email', required='', id='reg_email', name='reg_email', placeholder=' Почта не более 60 символов' )
                  .input-group
                    label
                      | Пароль
                      input(type='password', required='', id='reg_pass', name='reg_pass', placeholder=' от 8 до 60 латинских букв и цифр' )
                  .checkbox
                    label
                      input(type="checkbox", name="nerieltor")
                      | Согласен с правилами
                      p.help-block
                        a.conditions-show(href="#", data-toggle='modal', data-target='#conditions') Пользовательское соглашение
                  input.btn-submit(type='submit', value='Зарегистрироваться')
              .modal-footer
                //- span или
                //- .modal-social
                //-   a.vk(href='#')
                //-   a.fb(href='#')
                //-   a.ok(href='#')
                button.readyreg(type='button', data-toggle='modal', data-target='#header-login') Уже зарегистрированы?
            // Появляется при успешком заполнении формы
            .modal-regerror
              .modal-regerror-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Пользователь с такой почтой уже существует!
                p Возможно вы регистрировались ранее
            .modal-thanks
              .modal-thanks-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Спасибо!
                p Заявка отправлена, на указаннуюв Вами почту отправлено письмо для подтверждения
              //- .modal-thanks-recomended
              //-   article
              //-     a(href='#')
              //-       .result-img
              //-         img(src='images/search/result-img.png')
              //-       .result-desc
              //-         h4 Офис № 241
              //-         p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
              //-         section
              //-           .result-price
              //-             p
              //-               | Цена за м
              //-               sup 2
              //-               | : 
              //-               br
              //-               span 2000 р.
              //-           .result-square
              //-             p
              //-               | Площадь: 
              //-               br
              //-               span
              //-                 | 50 м
              //-                 sup 2
              //-   article
              //-     a(href='#')
              //-       .result-img
              //-         img(src='images/search/result-img.png')
              //-       .result-desc
              //-         h4 Офис № 241 Офис № 241 Офис № 241
              //-         p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
              //-         section
              //-           .result-price
              //-             p
              //-               | Цена за м
              //-               sup 2
              //-               | : 
              //-               br
              //-               span 2000 р.
              //-           .result-square
              //-             p
              //-               | Площадь: 
              //-               br
              //-               span
              //-                 | 50 м
              //-                 sup 2
              //-   article
              //-     a(href='#')
              //-       .result-img
              //-         img(src='images/search/result-img.png')
              //-       .result-desc
              //-         h4 Офис № 241
              //-         p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
              //-         section
              //-           .result-price
              //-             p
              //-               | Цена за м
              //-               sup 2
              //-               | : 
              //-               br
              //-               span 2000 р.
              //-           .result-square
              //-             p
              //-               | Площадь: 
              //-               br
              //-               span
              //-                 | 50 м
              //-                 sup 2
      // Окно обратного звонка в карточке объекта
      #call-me.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            // Контент окна
            .modal-form
              .modal-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Заказать звонок
                p Оставьте ваши контакты и мы поможем вам найти  подходящее помещ
              .modal-body
                form#formcallme(action='/sendmail', method='POST')
                  .form-group
                    label ФИО
                    input.form-control(name='name', type='text', required='')
                  .form-group
                    label Телефон
                    input.form-control(name='phone', type='tel', required='')
                  //- input(type="hidden", name='email', value='nalofree@gmail.com')
                  button.btn-submit(type='submit') Отправить
            // Появляется при успешком заполнении формы
            .modal-thanks
              .modal-thanks-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Спасибо!
                p Заявка отправлена
              //- .modal-thanks-recomended
              //-   article
              //-     a(href='#')
              //-       .result-img
              //-         img(src='images/search/result-img.png')
              //-       .result-desc
              //-         h4 Офис № 241
              //-         p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
              //-         section
              //-           .result-price
              //-             p
              //-               | Цена за м
              //-               sup 2
              //-               | : 
              //-               br
              //-               span 2000 р.
              //-           .result-square
              //-             p
              //-               | Площадь: 
              //-               br
              //-               span
              //-                 | 50 м
              //-                 sup 2
              //-   article
              //-     a(href='#')
              //-       .result-img
              //-         img(src='images/search/result-img.png')
              //-       .result-desc
              //-         h4 Офис № 241 Офис № 241 Офис № 241
              //-         p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
              //-         section
              //-           .result-price
              //-             p
              //-               | Цена за м
              //-               sup 2
              //-               | : 
              //-               br
              //-               span 2000 р.
              //-           .result-square
              //-             p
              //-               | Площадь: 
              //-               br
              //-               span
              //-                 | 50 м
              //-                 sup 2
              //-   article
              //-     a(href='#')
              //-       .result-img
              //-         img(src='images/search/result-img.png')
              //-       .result-desc
              //-         h4 Офис № 241
              //-         p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
              //-         section
              //-           .result-price
              //-             p
              //-               | Цена за м
              //-               sup 2
              //-               | : 
              //-               br
              //-               span 2000 р.
              //-           .result-square
              //-             p
              //-               | Площадь: 
              //-               br
              //-               span
              //-                 | 50 м
              //-                 sup 2
      // Окно появляется при уходе со страницы
      #end-visit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss='modal', aria-label='close')
                span(aria-hidden='true')
              h4 Спасибо за посещение!
      #conditions.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog.conditions(role="document")
          .modal-content
            .modal-header
              button.close(data-dismiss='modal', aria-label='close')
                span(aria-hidden='true')
              h4 Пользовательское соглашение
            .modal-body
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, numquam. Repudiandae ipsam commodi reprehenderit et facilis, at eos, quae hic esse dolorem, facere aliquam tempora dolorum nisi animi. Eaque amet praesentium suscipit, ratione facere aut eveniet, reiciendis ab doloribus unde possimus? Maiores, sit ut! Vero fugit quam culpa. Illo odit molestias, repellendus aut nisi eum in, architecto culpa consectetur dolores aliquid nobis ducimus quo veniam eius! Nesciunt sint iure eligendi iusto! Nulla voluptates iste, doloremque. Incidunt, ratione odit minima sit asperiores est vitae iste labore. Voluptates libero, laudantium ipsam consectetur iste numquam quidem voluptate tempore quas ipsa at a quos culpa impedit cum vero et, dolores molestias nobis distinctio accusantium ut rem vitae? Facilis odit doloribus aliquid et ad enim, harum quam, pariatur repudiandae ex sunt rerum quo fugit tempora quos itaque velit laudantium quia repellat praesentium eos porro numquam, facere similique! Quo ex quia consequatur impedit voluptate alias dolorem eligendi dolores architecto ratione, doloremque fugiat facere ea, dolorum distinctio velit amet autem beatae eius ducimus consequuntur. Possimus placeat nam sint suscipit amet ipsa incidunt iusto dolorem ea fugiat aspernatur necessitatibus doloribus nihil, ratione aliquid nulla deserunt cumque fuga magni doloremque expedita, reiciendis veritatis. Mollitia commodi iusto, quidem sapiente et nesciunt molestias, repudiandae modi ipsam qui, repellat consectetur ipsum delectus molestiae beatae. Aspernatur alias, voluptate ut itaque labore. Dicta mollitia minima similique sapiente voluptas iste sunt suscipit sit praesentium incidunt tempora molestias illum nulla, ut fugiat maxime numquam ex amet ad adipisci. Nulla quod rem ea libero quidem tenetur omnis alias assumenda dolorum voluptatibus, eligendi ipsam excepturi perspiciatis ratione possimus, maiores quibusdam minima? Repellat aspernatur enim totam a itaque eum, necessitatibus maiores doloribus, odit dolore veniam error voluptatibus, consequuntur tempore doloremque incidunt minima recusandae consequatur. Adipisci ab, odit nesciunt temporibus natus quibusdam cumque hic maiores corporis, repellat doloremque culpa, necessitatibus!
      script(src="http://ip-jobs.staff-base.spb.ru/ip.cgi")
      script(src='js/jquery.maskedinput.js')
      //- script(src='js/animsition.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/jquery.sliderPro.min.js')
      script(src='js/wNumb.js')
      script(src='js/nouislider.min.js')
      script(src='js/main.js')
      //- script(src='js/getobjsbycity.js')
      script(src='js/choosecity.js')
      script(src='js/map.js')
      script(src='js/reg.js')
      script(src='js/login.js')
      script(src='js/filtr.js')
      script(src='js/addobject.js')
      script(src='js/bmarks.js')
      script(src='js/remove.js')
      script(src='js/moder.js')
      script(src='js/editofc.js')
      script(src='js/sendmail.js')
