extends layout
block content
  //- script
  #content
    // Модерация
    article#moderation.container
      article.kab-info
        section.kab-head
          h2 режим модератора
          a.nickname.pro(href='/my')= username
          //- select.kab-location
          //-   option(selected='') Иркутск
        .kab-settings
          //- a.btn-setting(href='#') Настройки
          a.btn-setting(href='/logout') Выйти
      article.kab-tab-panel
        ul(role='tablist')
          li.active(role='presentation')
            a(href='#mod-objects', aria-controls='mod-objects', role='tab', data-toggle='tab') Модерация
          li(role='presentation')
            a(href='#mod-archive', aria-controls='mod-archive', role='tab', data-toggle='tab') Архив
          li(role='presentation')
            a(href='#mod-users', aria-controls='mod-users', role='tab', data-toggle='tab') Пользователи
        //- .kab-search
        //-   form
        //-     input(type='text', placeholder='Поиск...')
        //-     button(type='submit')
      //- .mod-sorting
      //-   .checkbox
      //-     label
      //-       input(type='checkbox')
      //-       | Ожидают
      //-     span.warning.active= nopublishofccount
      //-   .checkbox
      //-     label
      //-       input(type='checkbox')
      //-       | Одобрено
      //-     span.warning
      //-   .checkbox
      //-     label
      //-       input(type='checkbox')
      //-       | Отклонено
      //-     span.warning
      //-   a(href='#') Все
      //-   a(href='#') Мои
      // Контент вкладок
      .tab-content
        // Объекты и помещения на модерацию
        #mod-objects.mod-object-list.active.fade.in
          .mod-sorting
            .checkbox
              label
                input(type='checkbox')
                | Ожидают
              span.warning.active= nopublishofccount
            .checkbox
              label
                input(type='checkbox')
                | Одобрено
              span.warning
            .checkbox
              label
                input(type='checkbox')
                | Отклонено
              span.warning
            a(href='#') Все
            a(href='#') Мои
          .mod-object-list-head
            .head-time
              a(href='#') Обновление
            .head-object
              a(href='#') Объект
            .head-quantity
              a(href='#') Количество помещений
          // Объект на модерацию
          -if (objects)
            - for (var i = 0; i < objects.length; i++)
              - var currenObj = JSON.stringify(objects[i])
              .mod-object-list-item
                .item-desc
                  .item-time
                    p= objects[i].object_create
                    //- p в 21:03
                  .item-object
                    //- - var moderwait = 0;
                    //- - for (var m = 0; m < objects[i].object_offices.length; m++)
                    //-   - if (objects[i].object_offices.office_publish === 0)
                    //-     - moderwait++
                      //- moderwait = objects[i].object_offices.office_publish === 0 ? moderwait+1 : moderwait
                    h3
                      a.nowrap-text(href='#')= objects[i].object_name
                      - if (objects[i].object_nopublishofccount > 0)
                        span.warning.active= objects[i].object_nopublishofccount
                    p.status.new= (objects[i].object_publish === 0) ? "Новый объект" : " "
                    .object-tooltip
                      .image
                        - var objimg = objects[i].object_cover != null ? 'images/obj/'+objects[i].object_cover : "images/kabinet/moderation/mod-big.png"
                        img(src=objimg)
                      .description
                        p.nowrap-text= objects[i].object_name
                        p= objects[i].object_typename
                        p= objects[i].object_adres
                  .item-quantity
                    p= objects[i].object_offices ? objects[i].object_offices.length + " помещения" : "нет помещений"
                  .item-more-show
                    // Кнопка посмотреть подробнее
                    a.show-object-info(href='javascript: void(0);')
                // Подробная информация объекта
                //- - if (objects[i].object_publish === 0)
                //- - else if (objects[i].object_publish === 2)
                //- - else if (objects[i].object_publish === 1) //-Что, блять, с этим делать, а?
                //- - else
                //-   h1 Error!
                .item-object-more(data-title= objects[i].object_publish)
                  .item-object-info.change-solution
                    //- h2 Новый объект!
                    .object-info-block
                      .object-info-img
                        img(src=objimg)
                      .object-info-name
                        .input-group
                          label(for='object-name') Имя объекта:
                          input.object-name(type='text', value= objects[i].object_name, disabled)
                        .input-group
                          label(for='object-type') Тип объекта:
                          //- input#object-type(type='text')
                          select(disabled).object-type
                            - for (var j = 0; j < objtypes.length; j++)
                              - if (objtypes[j].option_id ===  objects[i].object_type)
                                option(selected='selected', value=objtypes[j].option_id)= objtypes[j].option_name
                              - else
                                option(selected='', value=objtypes[j].option_id)= objtypes[j].option_name
                        .input-group
                          label(for='object-address') Адрес:
                          input.object-address(type='text', value= objects[i].object_adres, title= objects[i].object_adres, disabled)
                          .moder-object-address__tooltip
                        //- a(href='#') Показать на карте
                      .object-info-submit
                        p.user
                          | Добавил пользователь:
                          - var userFullname = objects[i].object_author.user_firstname + ' ' + objects[i].object_author.user_lastname;
                          a(href='#')= userFullname
                          // what href??
                        //- p Такой объект уже существует?
                        //- select
                        //-   option(selected='', disabled) Выберите объект
                        //-   - for (var k = 0; k < objects.length; k++)
                        //-     option(selected='', value=objects[k].object_id)= objects[k].object_name
                        .submit-btn
                          button.disable-btn.moder-object_unconfirm(type='button', data-toggle='modal', data-target='#modal-object', data-title=currenObj) Отклонить
                          //objects[i].object_id
                          button.success-btn.moder-object_confirm(data-title=objects[i].object_id) Подтвердить                
                  //- .item-object-info
                  //-   // При отклонении объекта он приобретает класс object-disabled
                  //-   .object-info-block.object-status.object-disabled
                  //-     .object-symbol
                  //-     .object-info-img
                  //-       img(src=objimg)
                  //-     .object-info-name
                  //-       h3= decodeURI(objects[i].object_name) ? decodeURI(objects[i].object_name) : 'Error!'
                  //-       span Отклонено
                  //-       p= "Тип объекта: " + decodeURI(objects[i].object_typename) ? decodeURI(objects[i].object_typename) : 'Error!'
                  //-       p= "Адрес: " + decodeURI(objects[i].object_adres) ? decodeURI(objects[i].object_adres) : 'Error!'
                  //-       a(href='#') Комментарий модератора
                  //-     .object-info-submit
                  //-       button.change-btn Изменить решение                
                  .item-object-info
                    // При публикации объекта он приобретает класс object-published
                    .object-info-block.object-status.object-published
                      .object-symbol
                      .object-info-img
                        img(src=objimg)
                      .object-info-name
                        h3= objects[i].object_name
                        span= objects[i].object_publish===1 ? "Подтвержден" : "Отклонен"
                        p= "Тип объекта: " + objects[i].object_typename
                        p= "Адрес: " + objects[i].object_adres
                        //- a(href='#') Комментарий модератора
                      .object-info-submit
                        // Открыть подробную информацию о помещениях
                        button.change-btn(data-title=objects[i].object_id) Изменить решение
                  // Подробная информация о помещениях
                  //- - var moderwait = 0;
                  //- - for (var m = 0; m < objects[i].object_offices.length; m++)
                    //- - moderwait = objects[i].object_offices.office_publish === 0 ? moderwait+1 : moderwait
                  .item-object-rooms-list
                    - for (var m = 0; m < objects[i].object_offices.length; m++)
                      .item-room
                        .item-desc
                          .item-time
                            p= objects[i].object_offices[m].office_create
                            //- p 21 июнь 2014
                            //- p в 21:03
                          .item-name
                            h3
                              a.nowrap-text(href='#')= objects[i].object_offices[m].office_name
                            - if(objects[i].object_offices[m].office_publish > 0)
                              - if(objects[i].object_offices[m].office_publish > 1)
                                p.status.disabled Отклонено
                              - else
                                p.status.published Опубликовано
                            - else
                              p.status.wait Ожидает модерации
                          .item-user
                            p Пользователь
                            a(href='/user-'+objects[i].object_offices[m].office_author.user_id)= objects[i].object_offices[m].office_author.user_firstname + ' ' + objects[i].object_offices[m].office_author.user_lastname
                          //
                            Кнопки в таблице помещений
                            при классе wait помещение Ожидает модерации
                            при классе published помещение Опубликовано
                            при классе disabled помещение Отклонено
                          - if (objects[i].object_offices[m].office_publish == 0)
                            - var showClass = "wait"
                          - else if (objects[i].object_offices[m].office_publish == 1)
                            - var showClass = "published"
                          - else
                            - var showClass = "disabled"
                          - var officeId = objects[i].object_offices[m].office_id;
                          .item-show-more(class= showClass)
                            a.btn.unconfirmoffice.published(href='#', data-title=officeId) Снять с публикации
                            //- a.disabled-history(href='#', data-title=officeId) Посмотреть историю
                            a.show-room-info(href='javascript: void(0);', data-title=officeId) Просмотр
                        // Подробная информация о помещении
                        .item-room-more
                          .item-room-block-one
                            .item-room-inputs
                              .input-group
                                label(for='room-name') Название помещения:
                                input#room-name(type='text', disabled, value=objects[i].object_offices[m].office_name)
                                //- span
                                //-   a.error(href='#') Х
                                //-   a.edit(href='#') Редактировать
                              .input-group
                                label(for='room-address') Адрес/объект:
                                input#room-address(type='text', disabled,  value=objects[i].object_adres)
                                //- span
                                //-   a.error(href='#') Х
                                //-   a.edit(href='#') Редактировать
                              .input-group
                                label(for='room-tel') Телефон собственника:
                                input#room-tel(type='text', disabled, value=objects[i].object_offices[m].office_phone)
                                //- span
                                //-   a.error(href='#') Х
                                //-   a.edit(href='#') Редактировать
                              .input-group
                                label(for='room-price') Цена за м2:
                                input#room-price(type='text', disabled, value=objects[i].object_offices[m].office_subprice)
                                //- span
                                //-   a.error(href='#') Х
                                //-   a.edit(href='#') Редактировать
                              .input-group
                                label(for='room-square') Площадь:
                                input#room-square(type='text', disabled, value=objects[i].object_offices[m].office_area)
                                //- span
                                //-   a.error(href='#') Х
                                //-   a.edit(href='#') Редактировать
                              .input-group
                                label(for='room-height') Высота потолков:
                                input#room-height(type='text', disabled, value=objects[i].object_offices[m].office_height)
                                //- span
                                //-   a.error(href='#') Х
                                //-   a.edit(href='#') Редактировать
                            .item-room-disable
                              button.disable-btn(type='button', data-toggle='modal', data-target='#modal-rooms', data-title=objects[i].object_offices[m].office_id) Отклонить
                              //- a(href='#') Заблокировать пользователя
                          //- .item-room-block-two
                          //-   section
                          //-     h3 Назначение:
                          //-     ul
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-     //- .input-group
                          //-     //-   input(type='text')
                          //-     //-   span
                          //-     //-     a.error(href='#') Х
                          //-   section
                          //-     h3 В арендную плату входит:
                          //-     ul
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-     //- .input-group
                          //-     //-   input(type='text')
                          //-     //-   span
                          //-     //-     a.error(href='#') Х
                          //-   section
                          //-     h3 Дополнительные услуги:
                          //-     ul
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-     //- .input-group
                          //-     //-   input(type='text')
                          //-     //-   span
                          //-     //-     a.error(href='#') Х
                          //-   section
                          //-     h3 Доступные провайдеры:
                          //-     ul
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                          //-       li Электроэнергия
                              //- .input-group
                              //-   input(type='text')
                              //-   span
                              //-     a.error(href='#') Х
                          .item-room-block-three
                            .item-three-head
                              h3 Загруженные фотографии
                              //- button.disable-btn(type='button', data-toggle='modal', data-target='#modal-photo') Отклонить фотографии
                            .item-three-images
                              - for (var o = 0; o < objects[i].object_offices[m].office_images.length; o++)
                                .image
                                  img(src='images/obj/'+objects[i].object_offices[m].office_images[o].image_filename)
                                  .photos-settings
                                    //- .checkbox
                                    //-   label
                                    //-     input(type='checkbox', name='mainPhoto', value=objects[i].object_offices[m].office_images[o].image_id)
                                    //-     | Отметить
                                    //- .radio
                                    //-   label
                                    //-     - if (objects[i].object_offices[m].office_cover == objects[i].object_offices[m].office_images[o].image_id)
                                    //-       input(type='radio', name='mainPhoto', checked=true, value=objects[i].object_offices[m].office_images[o].image_id)
                                    //-     - else
                                    //-       input(type='radio', name='mainPhoto', checked=false, value=objects[i].object_offices[m].office_images[o].image_id)
                                    //-     | Главная
                          .item-room-block-four
                            //- .reset
                            //-   a.reset-btn(href='#') Отменить изменения
                            .btns
                              a(href='#', class="banuser", data-title= userid) Заблокировать пользователя
                              button.disable-btn(type='button', data-toggle='modal', data-target='#modal-rooms', data-title=objects[i].object_offices[m].office_id) Отклонить
                              a.success-btn.confirmoffice(href='#', data-title=objects[i].object_offices[m].office_id) Опубликовать
                              
                          //- .item-room-block-five
                          //-   h3 Сообщение для пользователя
                          //-   p Исправьте следующие поля:
                          //-   ul
                          //-     li
                          //-       | Имя помещения
                          //-       span Формат: Офис №313, Пав. 123, Складское помещение
                          //-     li
                          //-       | Таксофон
                          //-       span Подсказка
                          //-     li
                          //-       | МТС
                          //-       span Подсказка
                          //-     li
                          //-       | Теле2
                          //-       span
                          //-   p Следующие фотографии не прошли модерацию:
                          //-   .disabled-img
                          //-     img(src='images/search/result-img.png')
                          //-     img(src='images/search/result-img.png')
                          //-   p
                          //-     b Причина: несоответствие правилам форума
                          //-   a(href='#') Читать правила
                          //-   p Комментарий модератора:
                          //-   textarea(placeholder='Комментарии...')
                          //-   .btns
                          //-     a(href='#') Отмена
                          //-     a.success-btn(href='#') Отправить
                          
                    //- .item-room
                    //-   .item-desc
                    //-     .item-time
                    //-       p 21 июнь 2014
                    //-       p в 21:03
                    //-     .item-name
                    //-       h3
                    //-         a.nowrap-text(href='#') Офис 342
                    //-       p.status.published Опубликован
                    //-     .item-user
                    //-       p Пользователь
                    //-       a(href='#') Hell666
                    //-     .item-show-more.published
                    //-       a.published.btn(href='#') Снять с публикации
                    //-       a.show-room-info(href='javascript: void(0);') Просмотр
                    //- .item-room
                    //-   .item-desc
                    //-     .item-time
                    //-       p 21 июнь 2014
                    //-       p в 21:03
                    //-     .item-name
                    //-       h3
                    //-         a.nowrap-text(href='#') Офис 342
                    //-       p.status.disabled Отклонен
                    //-     .item-user
                    //-       p Пользователь
                    //-       a(href='#') Hell666
                    //-     .item-show-more.disabled
                    //-       a.published(href='#') Снять с публикации
                    //-       a.disabled-history(href='#') Посмотреть историю
                    //-       a.show-room-info(href='javascript: void(0);') Просмотр
                    //-   .item-room-more
                    //-     .item-room-block-one
                    //-       .item-room-inputs
                    //-         .input-group
                    //-           label(for='room-name') Название помещения:
                    //-           input#room-name(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-             a.edit(href='#') Редактировать
                    //-         .input-group
                    //-           label(for='room-address') Адрес/объект:
                    //-           input#room-address(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-             a.edit(href='#') Редактировать
                    //-         .input-group
                    //-           label(for='room-tel') Телефон собственника:
                    //-           input#room-tel(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-             a.edit(href='#') Редактировать
                    //-         .input-group
                    //-           label(for='room-price') Цена за м2:
                    //-           input#room-price(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-             a.edit(href='#') Редактировать
                    //-         .input-group
                    //-           label(for='room-square') Площадь:
                    //-           input#room-square(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-             a.edit(href='#') Редактировать
                    //-         .input-group
                    //-           label(for='room-height') Высота потолков:
                    //-           input#room-height(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-             a.edit(href='#') Редактировать
                    //-       .item-room-disable
                    //-         a.disable-btn(href='#') Отклонить
                    //-         a(href='#') Заблокировать пользователя
                    //-     .item-room-block-two
                    //-       section
                    //-         h3 Назначение:
                    //-         ul
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-         .input-group
                    //-           input(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-       section
                    //-         h3 В арендную плату входит:
                    //-         ul
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-         .input-group
                    //-           input(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-       section
                    //-         h3 Дополнительные услуги:
                    //-         ul
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-         .input-group
                    //-           input(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-       section
                    //-         h3 Доступные провайдеры:
                    //-         ul
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-           li Электроэнергия
                    //-         .input-group
                    //-           input(type='text')
                    //-           span
                    //-             a.error(href='#') Х
                    //-     .item-room-block-three
                    //-       .item-three-head
                    //-         h3 Загруженные фотографии
                    //-         a.disable-btn(href='#') Отклонить фотографии
                    //-       .item-three-images
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto', checked='')
                    //-                 | Главная
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto')
                    //-                 | Главная
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto')
                    //-                 | Главная
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto')
                    //-                 | Главная
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto')
                    //-                 | Главная
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto')
                    //-                 | Главная
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto')
                    //-                 | Главная
                    //-         .image
                    //-           img(src='images/kabinet/moderation/mod-very-big.png')
                    //-           .photos-settings
                    //-             .checkbox
                    //-               label
                    //-                 input(type='checkbox', name='mainPhoto')
                    //-                 | Отметить
                    //-             .radio
                    //-               label
                    //-                 input(type='radio', name='mainPhoto')
                    //-                 | Главная
                    //-     .item-room-block-four
                    //-       .reset
                    //-         a.reset-btn(href='#') Отменить изменения
                    //-       .btns
                    //-         a(href='#') Заблокировать пользователя
                    //-         a.disable-btn(href='#') Отклонить
                    //-         a.success-btn(href='#') Опубликовать
                    //-     // Блок отправки сообщения для пользователя, появляется, когда отклоняем помещение или объект
                    //-     .item-room-block-five
                    //-       h3 Сообщение для пользователя
                    //-       p Исправьте следующие поля:
                    //-       ul
                    //-         li
                    //-           | Имя помещения
                    //-           span Формат: Офис №313, Пав. 123, Складское помещение
                    //-         li
                    //-           | Таксофон
                    //-           span Подсказка
                    //-         li
                    //-           | МТС
                    //-           span Подсказка
                    //-         li
                    //-           | Теле2
                    //-           span
                    //-       p Следующие фотографии не прошли модерацию:
                    //-       .disabled-img
                    //-         img(src='images/search/result-img.png')
                    //-         img(src='images/search/result-img.png')
                    //-       p
                    //-         b Причина: несоответствие правилам форума
                    //-       a(href='#') Читать правила
                    //-       p Комментарий модератора:
                    //-       textarea(placeholder='Комментарии...')
                    //-       .btns
                    //-         a(href='#') Отмена
                    //-         a.success-btn(href='#') Отправить
            // Архив
          #mod-archive.mod-object-list.fade
            .item-object-rooms-list
              -if (archoffices)
                - for (var m = 0; m < archoffices.length; m++)
                  .item-room
                    .item-desc
                      .item-time
                        p= archoffices[m].office_create
                        //- p 21 июнь 2014
                        //- p в 21:03
                      .item-name
                        h3
                          a.nowrap-text(href='#')= archoffices[m].office_name
                        - if(archoffices[m].office_publish > 0)
                          - if(archoffices[m].office_publish > 1)
                            p.status.disabled Отклонено
                          - else
                            p.status.published Опубликовано
                        - else
                          p.status.wait Ожидает модерации
                      .item-user
                        p Пользователь
                        a(href='/user-'+archoffices[m].office_author.user_id)= archoffices[m].office_author.user_firstname + ' ' + archoffices[m].office_author.user_lastname
                      //
                        Кнопки в таблице помещений
                        при классе wait помещение Ожидает модерации
                        при классе published помещение Опубликовано
                        при классе disabled помещение Отклонено
                      - if (archoffices[m].office_publish == 0)
                        - var showClass = "wait"
                      - else if (archoffices[m].office_publish == 1)
                        - var showClass = "published"
                      - else
                        - var showClass = "disabled"
                      - var officeId = archoffices[m].office_id;
                      .item-show-more(class= showClass)
                        a.btn.unconfirmoffice.published(href='#', data-title=officeId) Снять с публикации
                        //- a.disabled-history(href='#', data-title=officeId) Посмотреть историю
                        a.show-room-info(href='javascript: void(0);', data-title=officeId) Просмотр
          // Пользователи
          #mod-users.mod-object-list.fade
            table.table(width="100%")
              thead
                tr
                  th= "Ид"
                  th= "Почта/логин"
                  th= "Роль"
                  th= "Имя"
                  th= "Фамилия"
                  th= "Мобильный"
                  th= "Бан"
                  th= "Подтвержден"
              tbody
                - if (users)
                  -for (var i = 0; i < users.length; i++)
                    tr
                      td= users[i].user_id
                      td= users[i].user_email
                      td= users[i].role_name
                      td= users[i].user_firstname
                      td= users[i].user_lastname
                      td= users[i].user_mobile
                      td
                        div.btn.banuser(data-title=users[i].user_id)= (users[i].user_ban === 0) ? "Заблокировать" : "Разблокировать"
                      td
                        div.btn.confirmuser(data-title=users[i].user_id)= (users[i].user_confirm === 0) ? "Подтвердить" : "Подтвержден"
                
    // Модальные окна при отклонениях
    .mod-modals
      // Модальные окно при отклонении фото
      #modal-photo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss='modal', aria-label='close')
                span(aria-hidden='true')
              h4 Отклонить фотографии
            .modal-body
              .modal-cause
                p Выберите причину:
                .checkbox
                  label
                    input(type='checkbox')
                    | Несоответстует тематике ресурса
                .checkbox
                  label
                    input(type='checkbox')
                    | Нарушает правила ресурса
                .checkbox
                  label
                    input(type='checkbox')
                    | Ненадлежащее качество
                .checkbox
                  label
                    input(type='checkbox')
                    | Причина 2
              .modal-comment
                p Комментарий модератора:
                textarea(placeholder='Комментарий...')
                .mobal-btns
                  a.disable-btn(href='#') Отмена
                  button.success-btn(type='submit') Готово
      // Модальные окно при отклонении помещения
      #modal-rooms.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss='modal', aria-label='close')
                span(aria-hidden='true')
              h4 Отклонить объявление
              p (Офис 32421)
            .modal-body
              .modal-cause
                p Выберите причину:
                .checkbox
                  label
                    input(type='checkbox')
                    | Несоответстует тематике ресурса
                .checkbox
                  label
                    input(type='checkbox')
                    | Нарушает правила ресурса
                .checkbox
                  label
                    input(type='checkbox')
                    | Ненадлежащее качество
                .checkbox
                  label
                    input(type='checkbox')
                    | Причина 2
              .modal-comment
                p Комментарий модератора:
                textarea(placeholder='Комментарий...')
                .mobal-btns
                  a.disable-btn(href='#', aria-label="close",data-dismiss="modal") Отмена
                  button.success-btn.unconfirmoffice(type='submit',  aria-label="close",data-dismiss="modal") Готово
                  //-data-title=objects[i].object_offices[m].office_id,
      // Модальные окно при отклонении объектов
      #modal-object.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss='modal', aria-label='close')
                span(aria-hidden='true')
              h4 Отклонить объект
              p.modal-header-objectname (ТК “Сарый Сокол”)
            .modal-body
              .modal-cause
                p Выберите причину:
                .checkbox
                  label
                    input(type='checkbox', value= 'Несоответстует тематике ресурса')
                    | Несоответстует тематике ресурса
                .checkbox
                  label
                    input(type='checkbox', value= 'Нарушает правила ресурса')
                    | Нарушает правила ресурса
                .checkbox
                  label
                    input(type='checkbox', value= 'Ненадлежащее качество')
                    | Ненадлежащее качество
                .checkbox
                  label
                    input(type='checkbox', value= 'Причина 2')
                    | Причина 2
              .modal-comment
                p Комментарий модератора:
                textarea(placeholder='Комментарий...')
                .mobal-btns
                  button.disable-btn(data-dismiss="modal", aria-label="close") Отмена
                  //<button data-dismiss="modal" aria-label="close" class="close"><span aria-hidden="true"></span></button>
                  button.success-btn(type='submit', data-title="", data-dismiss="modal", aria-label="close") Готово
