extends layout
block content
  #content
    //- Личный кабинет
    article#kabinet.container
      //- Шапка
      article.kab-info
        section.kab-head
          h2 Личный кабинет
          a.nickname.pro(href='/my')= username
        .kab-settings
          a.btn-create-object.href(href='#my-objects') создать объявление
          //-- a.btn-setting(href='#') Настройки
          a.btn-setting(href='/logout') Выйти
      //- Вкладки
      article.kab-tab-panel
        ul(role='tablist')
          li.active(role='presentation')
            a(href='#my-objects', aria-controls='my-objects', role='tab', data-toggle='tab') Мои объекты
          li(role='presentation')
            a(href='#kab-archive', aria-controls='kab-archive', role='tab', data-toggle='tab') Архив
          //-- li(role='presentation')
          //--   a(href='#kab-subscription', aria-controls='kab-subscription', role='tab', data-toggle='tab') Подписка
        //-- .kab-search
        //--   form
        //--     input(type='text', placeholder='Поиск...')
        //--     button(type='submit')
      .tab-content
        //- Мои помещения и объекты
        article#my-objects.kab-objects.active.fade.in
          .kab-sorting
            .sorting-one
              //-- p
                //-- | Показывать:
                //-- a.active(href='#') Объекты
                //-- a(href='#') Объявления
            .sorting-two
              //-p
                //-| Сортировать по
                //-a.active(href='#') Цена
                //-a(href='#') Площадь
          //- Создание объекта и помещений, имеет несколько шагов, которые появляются один за другим
          .kab-create-obj
            //- Шаг 1
            section.kab-create-step-one
              h3 Создать новое объявление
              article
                .step-inform
                  input#objimagefield(type='hidden')
                  label
                    | Введите адрес:
                    input(type='text')#objadres
                    .obj-addr-autoshow
                    input(type='hidden')#objcoords
                    span
                      | ТЦ “Рублёв”
                      a(href='#') Другой объект?
                  span или
                  select#choose-object(name="object[]") Выберите объект
                    option(selected='' value='') Выберите объект

                    - for (var i = 0; i < objects.length; i++)
                      option(value= objects[i].object_id, title= objects[i].object_adres)= objects[i].object_name

                .step-submit
                  a.first-step.step-btn(href='#') Продолжить
              article.add-obj-photos
                .add-obj-photos-desc
                  h4 Загрузите фотографии
                  form(method='post', enctype='multipart/form-data', action='/uploadimage')
                    input(type='file', name='uplimage', id='setobjimages', accept="image/*,image/jpeg")
                .add-obj-photos-items
            //- Шаг 2
            section.kab-create-step-two
              h3 Создать новое объявление
              .step-inform
                p.step-inform-adres
                .step-object-type
                  p
                    | Выберите тип здания:
                    - for (var i = 0; i < objtypes.length; i++)
                      .radio
                        label
                          input(type='radio', name='objectType', data-title= objtypes[i].objtype_id, checked='checked')
                          div= objtypes[i].objtype_name
                label
                  | Введите название:
                  input#objname(type='text')
                  span ТЦ “Рублёв”, Торговая площадь “Иванушки”, БЦ “Лисиха”
              .step-submit
                a.step-btn.back(href='#') Назад
                a.second-step.step-btn(href='#') Продолжить
            //- Шаг 3
            section.kab-create-step-three
              h3 Создать новое объявление
              .step-inform
                p.step-inform-address
                  | Адрес:
                  span г. Иркутск, ул. Чехова 19
                  span Торгово-развлекательный центр “Рублёв”
                article.first-desc
                  .input-group
                    label(for='create-header') Заголовок объявления:
                    input#create-header(type='text')
                    span Не используйте слова: Срочно, Сдам, Аренда.
                  .input-group
                    label(for='create-square') Площадь:
                    input#create-square(type='text',placeholder='Цифры, например 25.5')
                    span м
                    sup 2
                  .input-group
                    label(for='create-price') Цена за м2:
                    input#create-price(type='text',placeholder='Цифры, например 800.2')
                    span Цена за всю площадь:
                    span.comp-price= '0'
                    span &nbsp;руб.
                  .input-group
                    label(for='create-tel') Телефон собственника:
                    input#create-tel(type='text')
                    //-- span
                    //--   a(href='#') Подтвердите
                    //--   | телефон
                  .input-group
                    label(for='create-height') Высота потолков:
                    input#create-height(type='text',placeholder='Цифры, например 2.6')
                    span м
                article.second-desc
                  section.second-item
                    h4 Назначение помещения:
                    - for (var i = 0; i < meanings.length; i++)
                      .checkbox
                        label
                          input(type='checkbox', data-title= ''+meanings[i].option_id,name='meanings')
                          div= meanings[i].option_name
                  section.second-item
                    h4 В арендную плату входит:
                    - for (var i = 0; i < included.length; i++)
                      .checkbox
                        label
                          input(type='checkbox', data-title= ''+included[i].option_id,name='included')
                          div= included[i].option_name
                    //-- label
                    //--   | Другое:
                    //--   input(type='text')
                  section.second-item
                    h4 Дополнительные услуги:
                    - for (var i = 0; i < advanced.length; i++)
                      .checkbox
                        label
                          input(type='checkbox', data-title= ''+advanced[i].option_id,name='advanced')
                          div= advanced[i].option_name
                    //-- label
                    //--   | Другое:
                    //--   input(type='text')
                  section.second-item
                    h4 Доступные провайдеры:
                    - for (var i = 0; i < providers.length; i++)
                      .checkbox
                        label
                          input(type='checkbox', data-title= ''+providers[i].option_id,name='providers')
                          div= providers[i].option_name
                    //-- label
                    //--   | Другое:
                    //--   input(type='text')
                article.add-photos
                  .add-photos-desc
                    h4 Загрузите фотографии
                    p Вы можете загрузить не более 8-ми фотографий
                    p Размер файла не должен превышать 1MB
                    p Пожалуйста не загружайте фотографии с различным текстом. бла бла бла Lorem ipsum dolor sit amet, consectetur adipisicing elit. At neque beatae consequatur, eos ipsam numquam recusandae harum quod illum veniam?
                    //-input(type='file')
                    form(method='post', enctype='multipart/form-data', action='/uploadimage')
                      //-| File:
                      input(type='file', name='uplimage', multiple='multiple', id='setimages', accept="image/*,image/jpeg")
                      //-input(type='submit', value='Upload')
                  .add-photos-items
                    //-- .add-photos-item
                    //--   img(src='images/kabinet/1.png')
                    //--   .photos-settings
                    //--     .radio
                    //--       label
                    //--         input(type='radio', name='mainPhoto', checked='')
                    //--         | Главная
                    //--     a(href='#') Удалить
                    //-- .add-photos-item
                    //--   img(src='images/kabinet/1.png')
                    //--   .photos-settings
                    //--     .radio
                    //--       label
                    //--         input(type='radio', name='mainPhoto', checked='')
                    //--         | Главная
                    //--     a(href='#') Удалить
                    //-- .add-photos-item
                    //--   img(src='images/kabinet/1.png')
                    //--   .photos-settings
                    //--     .radio
                    //--       label
                    //--         input(type='radio', name='mainPhoto', checked='')
                    //--         | Главная
                    //--     a(href='#') Удалить
              .step-submit
                //-- a.step-btn(href='#') Проверить объявление
                a.third-step.step-btn(href='#') Опубликовать
                //-- a.back(href='#') Назад
            //- Шаг 4
            section.kab-create-step-complite
              h3 Готово
              p
                | Спасибо! Ваше объявление отправлено на модерацию, и в скором времени будет опубликовано на сайте.
              a.step-btn(href='#') Спасибо
          //- Объекты и помещения
          .kab-items
            - for (var i = 0; i < objects.length; i++)
              -if (objects[i].object_offices.length > 0)
                article.kab-item
                  section.kab-item-info
                    .kab-item-img
                      - var cover = objects[i].object_cover ? objects[i].object_cover : "images/search/result-big.png";
                      img(src= cover)
                    .kab-item-desc
                      section.kab-item-header
                        h4.nowrap-text= objects[i].object_name
                        - var adres = objects[i].object_adres.split(',');
                        - adres.splice(0,2);
                        p.nowrap-text= adres
                      section.kab-item-change
                        .kab-item-edit
                          //-- a(href='#', class='del-obj', data-title=objects[i].object_id) Удалить
                          //-- span |
                          //-- a(href='#', class='edit-obj', data-title=objects[i].object_id) Редактировать
                        .kab-item-create
                          a(href= ""+objects[i].object_id) + Добавить помещение

                    .kab-item-last
                      p Последнее измененное:
                      a.last-object(href='/office-'+objects[i].object_offices[0].office_id)
                        .last-object-img
                          img(src='images/obj/'+objects[i].object_offices[0].image_filename)
                        .last-object-desc
                          h4= objects[i].object_offices[0].office_name
                          p= objects[i].object_name
                          section
                            .last-object-price
                              p
                                | Цена за м
                                sup 2
                                | :
                                br
                                span= objects[i].object_offices[0].office_subprice +' р.'
                            .last-object-square
                              p
                                | Площадь:
                                br
                                span= objects[i].object_offices[0].office_area +' м'
                                  sup 2
                    span.rooms-show
                  //- Таблица помещений
                  section.kab-item-table
                    table
                      tbody
                        tr
                          td
                          td Имя
                          td Статус
                          td Площадь
                          td Цена
                          td
                        - for (var j = 0; j < objects[i].object_offices.length; j++)
                          tr
                            td.table-date= objects[i].object_offices[j].office_create
                            td.table-name
                              a.nowrap-text(href='#')= objects[i].object_offices[j].office_name
                              - if (objects[i].object_offices[j].office_publish == 0)
                                span.status.wait Ожидает модерации
                              - else if (objects[i].object_offices[j].office_publish == 1)
                                span.status.published Опубликовано
                              - else
                                span.status.disabled Отклонено
                            td.table-time Осталось 7 дней
                            td.table-square= objects[i].object_offices[j].office_area+'кв. м'
                            td.table-price= (objects[i].object_offices[j].office_area*objects[i].object_offices[j].office_subprice).toFixed(2) + ' руб.'
                            td.table-edit
                              a.table-edit-menu-show(href='javascript: void(0);') Редактировать
                              ul.table-edit-menu
                                li
                                  a(href='/editofc-'+objects[i].object_offices[j].office_id) Изменить
                                //-- li
                                //--   a(href='#') Снять с публикации
                                li
                                  a(href='#', class='del-ofc', data-title=objects[i].object_offices[j].office_id) Удалить
              -else
                //- Пустой объект имеет класс empty
                article.kab-item.empty
                  section.kab-item-info
                    .kab-item-img
                      - var cover = objects[i].object_cover ? objects[i].object_cover : "images/search/result-big.png";
                      img(src= cover)
                    section
                      .kab-item-desc
                        section.kab-item-header
                          h4.nowrap-text= objects[i].object_name
                          - var adres = objects[i].object_adres.split(',');
                          p.nowrap-text= adres
                        section.kab-item-change
                          .kab-item-edit
                            //-- a(href='#', class='del-obj', data-title=objects[i].object_id) Удалить
                            //-- span |
                            //-- a(href='#', class='edit-obj', data-title=objects[i].object_id) Редактировать
                      .kab-item-create
                        a(href= ""+objects[i].object_id) + Добавить помещение
        //- Вкладка архив, здесь должны быть удаленные помещения и объекты
        article#kab-archive.fade
          -if (archoffices)
            - for (var m = 0; m < archoffices.length; m++)
              .panel
                .panel-body
                  .row
                    .col-md-3.col-sm-3.col-xs-6
                      img.img-responsive(src="/images/obj/"+archoffices[m].office_image)
                    .col-md-9.col-sm-9.col-xs-6
                      p
                        a(href="office-"+archoffices[m].office_id)= archoffices[m].office_name
                      p= archoffices[m].office_create
                      p
                        a(href='/user-'+archoffices[m].office_author.user_id)= archoffices[m].office_author.user_firstname + ' ' + archoffices[m].office_author.user_lastname
                      - if (archoffices[m].office_publish == 0)
                        p.lead= "Ожидает модерации"
                      - else if (archoffices[m].office_publish == 1)
                        p= "Опубликовано"
                      - else
                        p= "Отклонено"
                      .btn.btn-primary.recuveofc(data-title=archoffices[m].office_id) Восстановить из архива
        //- Вкладка подписки, здесь хз че;)
        article#kab-subscription.fade
