extends layout
block content
  #content
    // Объекты
    #objects.container
      article#objects-items
        section#breadcrumbs
          a(href='#') Поиск
          span >
          a(href='#') Результаты поиска
          span >
          a.active(href='#') Объекты
        section#objects-header
          div
            h2 Объекты недвижимости
          // Стили объектов в линюю или блоками
          .item-style
            a.item-block.active(href='#')
            a.item-line(href='#')
        // Объекты
        section#obj-items.block-style.style-block
          -if (objects.length > 0)
            -for (var i = 0; i < objects.length; i++)
              section.item
                .item-img
                  a(href='/object-'+objects[i].object_id)
                    - var cover = objects[i].object_cover ? 'images/obj/'+objects[i].object_cover : 'images/object/1.png';
                    img(src= cover, width = '100%')
                section
                  .item-desc
                    h3.nowrap-text
                      a(href='/object-'+objects[i].object_id)= objects[i].object_name
                    p
                      - adres = objects[i].object_adres
                      span= adres
                  .item-rooms
                    -for (var j = 0; j < objects[i].object_offices.length; j++)
                      -if (j <= 1)
                        a.item-object(href='office-'+objects[i].object_offices[j].office_id)
                          .item-object-img
                            img(src='images/obj/'+objects[i].object_offices[j].image_filename)
                          .item-object-desc
                            - var name = objects[i].object_offices[j].office_name
                            - var adres = objects[i].object_adres
                              h4= name
                              p= addres
                              section
                                .item-object-price
                                  p
                                    | Цена за м
                                    sup 2
                                    | : 
                                    br
                                    span= objects[i].object_offices[j].office_subprice+' р.'
                                .item-object-square
                                  p
                                    | Площадь: 
                                    br
                                    span= objects[i].object_offices[j].office_area+' м'
                                      sup 2
                    a(href='/object-'+objects[i].object_id) Все помещения
          -else
            h3 Нет объектов
        // Пагинация
        //- #search-pagination
        //-   a.left(href='#')
        //-   a(href='#') 1
        //-   a.active(href='#') 2
        //-   a(href='#') 3
        //-   a.last(href='#') 6
        //-   a.right(href='#')
